$bg-color: yellow;
$border-color: red;

ul {
	list-style-type: none;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: helvetica, arial, sans-serif;
	height: 100%;
  color: #525252;
	#root {
		height: 100%;
		display: flex;
		flex-direction: column;
		.header {
			flex: 0 0 auto;
		}
		.main {
			flex: 1 0 auto;
		}
		.footer {
			background-color: #f2f2f2;
			padding: 0 2em 2em;
			flex: 0 0 auto;
		}
		&__link {
			margin-bottom: "10px";
			color: #525252;
			text-decoration: none;
			cursor: pointer;
		}

		&__link:hover {
			color: #0082ca;
		}
    .button {
      background-color: rgb(3, 144, 222);
      border-radius: 15px;
    }

    .button_center{
      display: flex;
      justify-content: center;
    }

    .margin2em {
      margin: 2em auto;
    }

    .title {
      width: 73%; 
      margin: 2em auto;
    }
  }
}
.css-32{
  overflow-y:scroll!important;
  position : fixed
}

.input-file {
  position: relative;
  margin: 10px;
  
  &__input {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    opacity: 0;
  }

  &__label {
    cursor: pointer;
    display: inline-block;
    border: 1px solid rgb(138, 136, 134);
    padding: 10px;
    margin: 0 10px 10px 0;
    transition: background-color 0.2s;
    
    .form-item__input:focus + &, &:hover {
      background-color: #f2f2f2;
    }
  }
}