@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./variables";
@import "./mixins";

* {
	box-sizing: border-box;
}

#backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99;
	background-color: rgba(0,0,0, .26);
}