.admin-page {
  background-color: rgba(225, 223, 221, 0.2);
  padding: 0;
  .dash-nav {
    background-color: white;
    height: 100vh;
    box-sizing: border-box;
    border: 1px solid #eee;
    & button {
      color: black;
    }
  }
  .main-element {
    height: 100vh;
  }
  .ms-Grid-row {
    margin: 0;
  }
  .ms-Grid-col.ms-sm2 {
    padding: 0;
  }
  .dashboard {
    &__title {
      display: inline-block;
      margin: 1.1em 2em;
      padding: 0.7em;
      border-radius: 30px;
      box-shadow: 0 0 4px inset rgba(87, 87, 87, 0.4);
      background-color: rgb(255, 255, 255);
    }
  }
}
