.footer {
    background-color: #F2F2F2;
    // padding: 0 2em;

    &__link {
      margin-bottom: '10px';
      color: #525252;
      text-decoration: none;
      cursor: pointer;
    }

    &__link:hover {
      color: #0082ca;
    }
  }
