.footer {
  background-color: #f2f2f2;
  // padding: 0 2em;

  &__wrapper {
    text-align: center;
    padding: 2rem 0.75rem;
    @media (min-width: 980px) {
      text-align: left;
      padding: 2rem;
      max-width: 1460px;
      margin: 0 auto;
    }
  }

  &__link {
    margin-bottom: "10px";
    color: #525252;
    text-decoration: none;
    cursor: pointer;
  }

  &__link:hover {
    color: #0082ca;
  }

  &__list {
    text-align: center;
    @media (min-width: 980px) {
      text-align: left;
      display: flex;
      justify-content: space-between;
      width: 75%;
      margin: auto;
      padding-bottom: 2rem;
    }
  }
  &__socials {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    @media (min-width: 980px) {
      display: block;
      padding-top: 0;
    }
  }

  &__social {
    margin: 0 0.5rem;
    a {
      &:hover,
      &:active,
      &:focus,
      &.active {
        color: #0082ca;
      }
    }
  }
}
